{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="user-info" class="fixed-header">
        <h1 id="site-name">{{ t.site_name }}</h1>
        <div class="account-control">
            <input class="input input-secondary" id="searchInput" placeholder="{{ t.search_placeholder }}">
            <button class="button button-secondary button-account" id="languageButton" onclick=choiceLanguage()>{{ lang }}</button>
            <label for="languageButton"></label>
            {% if request.user.is_authenticated %}
            <span>{{ t.login_as}}: {{ request.user.username }}</span>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="button button-secondary button-account" id="logoutButton" type="submit">{{ t.logout }}</button>
                </form>
            {% else %}
                <button class="button button-secondary button-account" id="loginButton" onclick="location.href='{% url 'login' %}';">{{ t.login }}</button>
                <button class="button button-secondary button-account" id="registerButton" onclick="location.href='{% url 'register' %}';">{{ t.registration }}</button>
            {% endif %}
        </div>

    </div>
    <div id="file-manager">
        <div id="folder-structure">
            <div id="current-path"></div>
            <div id="folder-tree">

            </div>
            <div id="controls" style="display: none"></div>
        </div>
    </div>
    <div id="modalFile" class="modal">
        <div id="modalContent" class="modal-content">
            <div class="horizontal-list">
                <button class="button" onclick=closeModalFile()>{{ t.back }}</button>
                <button class="button" id="modalDownloadButton">{{ t.download}}</button>
            </div>
            <div id="modalFileContent"></div>
        </div>
    </div>
    <script src="{% static 'js/svg.js' %}"></script>
    <script>
        const userId = "{{ request.user.id }}";
        const currentLanguage = "{{ lang }}";
        const t = "{{ t }}";
        Svg.addSvg("languageButton", Svg.language)
        Svg.addSvg("logoutButton", Svg.logout)
        Svg.addSvg("loginButton", Svg.login)
        Svg.addSvg("registerButton", Svg.registration)
    </script>
    <script src="{% static 'js/media_view.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
