{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="form">
    <h1 class="h1-form">Logouted</h1>

    <div class="auth-form">
        <h2>You have been logged out</h2>
        <button class="button" onclick="location.href='{% url 'index' %}';">Back</button>
    </div>
</body>
</html>
