{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="form">
    <h1 class="h1-form">{{ t.logout }}</h1>

    <div class="auth-form">
        <h2>{{ t.you_have_been_logged_out }}</h2>
        <button class="button" id="backButton" onclick="location.href='{% url 'index' %}';">{{ t.back }}</button>
    </div>
    <script src="{% static 'js/svg.js' %}"></script>
    <script>
        const currentLanguage = "{{ lang }}";
        const t = "{{ t }}";
        Svg.addSvg("backButton", Svg.backFolder)
    </script>
</body>
</html>
