{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="form">
    <h1 class="h1-form">{{ t.registration }}</h1>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="horizontal-list">
            <button class="button" id="backButton" onclick="location.href='{% url 'index' %}';">{{ t.back }}</button>
            <button class="button" id="registerButton" type="submit">{{ t.register }}</button>
        </div>
    </form>
    <script src="{% static 'js/account.js' %}"></script>
    <script src="{% static 'js/svg.js' %}"></script>
    <script>
        const currentLanguage = "{{ lang }}";
        const t = "{{ t }}";
        Svg.addSvg("backButton", Svg.backFolder)
        Svg.addSvg("registerButton", Svg.registration)
    </script>
</body>
</html>
